<router-outlet />

<main
  class="h-full w-full flex flex-col lg:flex-row justify-center items-center max-w-7xl mx-auto"
>
  <h1
    class="text-4xl p-5 text-center lg:text-left lg:text-8xl font-bold text-white/90 select-none"
  >
    NASA image of the day
  </h1>

  <section
    class="flex flex-col gap-5 bg-white/20 p-7 border-white/50 shadow-inner border-[1px] h-[90%] rounded-4xl w-full backdrop-blur-xl overflow-y-auto"
    (scroll)="onScroll($event)"
  >
    @for (item of filterPosts(); track item.title) {

    <article class="flex flex-col gap-4 text-white">
      <div class="text-sm bg-white/10 p-2 rounded-xl w-max">
        ~ {{ item.date | date : "longDate" }}
      </div>
      <h2 class="text-3xl">{{ item.title }}</h2>
      <p
        [class.max-h-[10rem]]="!isExpanded(item.title)"
        class="overflow-ellipsis overflow-hidden text-balance transition-all duration-300"
      >
        {{ item.explanation }}
      </p>
      <span
        class="self-end cursor-pointer hover:underline"
        (click)="toggleExpand(item.title)"
      >
        {{ isExpanded(item.title) ? "Read less" : "Read more" }}
      </span>
      <img
        class="rounded-xl w-full h-[20rem] object-cover"
        [src]="item.url"
        [alt]="`Nasa Posting About ` + item.title"
      />
    </article>
    }
    <!--  -->
    @if (nasaPostsHttp.isLoading()) {

    <div class="flex justify-center items-center">
      <div
        class="animate-spin rounded-full size-16 border-t-2 border-b-2 border-white"
      ></div>
    </div>
    }
  </section>
</main>
